# ─────💡 CLOUDET STORAGE (Cloudinary)─────
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
USE_CLOUDINARY=true

# ─────🔐 JWT CONFIGURATION─────
JWT_SECRET=
JWT_EXPIRATION=3600000
JWT_COOKIE_MAX_AGE=3600
JWT_REFRESH_EXPIRATION=604800000
JWT_REFRESH_COOKIE_MAX_AGE=604800
JWT_SECURE_COOKIE=false

# ─────📧 EMAIL CONFIGURATION (Mailgun)─────
MAILGUN_FROM_ADDRESS=
MAILGUN_SMTP_USERNAME=
MAILGUN_SMTP_PASSWORD=

# ─────🌍 FRONTEND LINK─────
APP_BASE_URL=http://localhost:5173

# ─────📂 FILE UPLOAD─────
UPLOAD_DIR=uploads